--
-- PostgreSQL database dump
--

\restrict IPnPOTqyghlCdWdPfRI2ZOgbuqiSdCfHJGCJtlqRUapDlwADPVWd2eZ8fKsuY0V

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: predictions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.predictions (
    id bigint NOT NULL,
    stock_id integer NOT NULL,
    prediction_date date NOT NULL,
    predicted_price numeric(15,4) NOT NULL,
    confidence numeric(5,4),
    model_version character varying(50) NOT NULL,
    actual_price numeric(15,4),
    error numeric(15,4),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone,
    CONSTRAINT predictions_confidence_check CHECK (((confidence >= (0)::numeric) AND (confidence <= (1)::numeric)))
);


ALTER TABLE public.predictions OWNER TO postgres;

--
-- Name: predictions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.predictions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.predictions_id_seq OWNER TO postgres;

--
-- Name: predictions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.predictions_id_seq OWNED BY public.predictions.id;


--
-- Name: stock_prices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_prices (
    id bigint NOT NULL,
    stock_id integer NOT NULL,
    date date NOT NULL,
    open numeric(15,4) NOT NULL,
    high numeric(15,4) NOT NULL,
    low numeric(15,4) NOT NULL,
    close numeric(15,4) NOT NULL,
    volume bigint NOT NULL,
    adjusted_close numeric(15,4),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.stock_prices OWNER TO postgres;

--
-- Name: stock_prices_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.stock_prices_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stock_prices_id_seq OWNER TO postgres;

--
-- Name: stock_prices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.stock_prices_id_seq OWNED BY public.stock_prices.id;


--
-- Name: stocks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stocks (
    id integer NOT NULL,
    ticker character varying(10) NOT NULL,
    name character varying(255) NOT NULL,
    sector character varying(100),
    industry character varying(100),
    description text,
    currency character varying(10) DEFAULT 'USD'::character varying,
    exchange character varying(50),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.stocks OWNER TO postgres;

--
-- Name: stocks_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.stocks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stocks_id_seq OWNER TO postgres;

--
-- Name: stocks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.stocks_id_seq OWNED BY public.stocks.id;


--
-- Name: predictions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.predictions ALTER COLUMN id SET DEFAULT nextval('public.predictions_id_seq'::regclass);


--
-- Name: stock_prices id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_prices ALTER COLUMN id SET DEFAULT nextval('public.stock_prices_id_seq'::regclass);


--
-- Name: stocks id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks ALTER COLUMN id SET DEFAULT nextval('public.stocks_id_seq'::regclass);


--
-- Data for Name: predictions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.predictions (id, stock_id, prediction_date, predicted_price, confidence, model_version, actual_price, error, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: stock_prices; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stock_prices (id, stock_id, date, open, high, low, close, volume, adjusted_close, created_at) FROM stdin;
\.


--
-- Data for Name: stocks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stocks (id, ticker, name, sector, industry, description, currency, exchange, is_active, created_at, updated_at) FROM stdin;
1	AAPL	Apple Inc.	Technology	Consumer Electronics	Apple Inc. designs, manufactures, and markets consumer electronics and software.	USD	NASDAQ	t	2025-11-12 21:11:15.288391	2025-11-12 21:11:15.288414
3	AAL	Apple Inc.	Technology	Consumer Electronics	Apple Inc. designs, manufactures, and markets consumer electronics and software.	USD	NASDAQ	t	2025-11-12 21:16:22.989111	2025-11-12 21:16:22.989127
\.


--
-- Name: predictions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.predictions_id_seq', 1, false);


--
-- Name: stock_prices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stock_prices_id_seq', 1, false);


--
-- Name: stocks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stocks_id_seq', 5, true);


--
-- Name: predictions predictions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.predictions
    ADD CONSTRAINT predictions_pkey PRIMARY KEY (id);


--
-- Name: stock_prices stock_prices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_prices
    ADD CONSTRAINT stock_prices_pkey PRIMARY KEY (id);


--
-- Name: stock_prices stock_prices_stock_id_date_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_prices
    ADD CONSTRAINT stock_prices_stock_id_date_key UNIQUE (stock_id, date);


--
-- Name: stocks stocks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks
    ADD CONSTRAINT stocks_pkey PRIMARY KEY (id);


--
-- Name: stocks stocks_ticker_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks
    ADD CONSTRAINT stocks_ticker_key UNIQUE (ticker);


--
-- Name: idx_predictions_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_predictions_created ON public.predictions USING btree (created_at);


--
-- Name: idx_predictions_stock_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_predictions_stock_date ON public.predictions USING btree (stock_id, prediction_date);


--
-- Name: idx_stock_prices_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_stock_prices_date ON public.stock_prices USING btree (date);


--
-- Name: idx_stock_prices_stock_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_stock_prices_stock_id ON public.stock_prices USING btree (stock_id);


--
-- Name: predictions predictions_stock_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.predictions
    ADD CONSTRAINT predictions_stock_id_fkey FOREIGN KEY (stock_id) REFERENCES public.stocks(id) ON DELETE CASCADE;


--
-- Name: stock_prices stock_prices_stock_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_prices
    ADD CONSTRAINT stock_prices_stock_id_fkey FOREIGN KEY (stock_id) REFERENCES public.stocks(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict IPnPOTqyghlCdWdPfRI2ZOgbuqiSdCfHJGCJtlqRUapDlwADPVWd2eZ8fKsuY0V

